

.navbar.original-style {
    position: relative;
    top: 0;
    margin-left: 30%;
    width: 68.12vw; /*1048px*/
    height: 7.14vh; /*50px*/
    background: hsl(210, 90%, 44%);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: right;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
}

.navbar.original-style a{
    position: relative;
    display: inline-block;
    font-size: 1.0416667vw;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 0 1.495vw; /* 0 23px*/
    z-index: 1;
}
.navbar.original-style span{
    position: absolute;
    top: 0;
    left: 25.025vw;
    width: 13vw; 
    height: 100%;
    background: linear-gradient(45deg, hsl(41, 66%, 37%), hsl(28, 100%, 60%));
    border-radius: 8px;
    transition: .5s;
}

.navbar.original-style a:nth-child(1):hover~span{
    left: 0;
    width: 11.7vw;
}
.navbar.original-style a:nth-child(2):hover~span{
    left: 11.7vw;  /*180px*/
    width: 13vw; /*200px*/
}
.navbar.original-style a:nth-child(3):hover~span{
    left: 25.025vw; /*385px*/
    width: 13vw; /*200px*/
}
.navbar.original-style a:nth-child(4):hover~span{
    left: 39vw;  /*600px*/
    width: 13vw; /*200px*/
}
.navbar.original-style a:nth-child(5):hover~span{
    left: 52.26vw;  /*804px*/
    width: 15.99vw; /*246px*/
}

.navbar.original-style a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1428vh;
    bottom: -0.2856vh; /*-2px*/
    left: 0;
    background-color: white;
    transform: scaleX(0); 
    transition: transform 0.5s ease; 
  }
 
  .navbar.original-style a:hover::before {
    transform: scaleX(0.75); 
  } 


.navbar.scrolled-down-style {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7.14vh; /*50px*/
    background: hsl(210, 90%, 44%);
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
}

.navbar.scrolled-down-style a{
    position: relative;
    display: inline-block;
    font-size: 1.0416667vw;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 0 1.495vw; /*0 23px*/
    z-index: 1;
}
.navbar.scrolled-down-style span{
    position: absolute;
    top: 0;
    left: 39vw; /*15px 0.975vw*/
    width: 16.25vw; /*250px*/
    height: 100%;
    background: linear-gradient(45deg, hsl(41, 66%, 37%), hsl(28, 100%, 60%));
    border-radius: 8px;
    transition: .5s;
}

.navbar.scrolled-down-style a:nth-child(1):hover~span{
    left: 0.975vw; /*15px*/
}
.navbar.scrolled-down-style a:nth-child(2):hover~span{
    left: 19.5vw; /*300px 19.5vw*/
    width: 16.25vw; /*250px*/
}
.navbar.scrolled-down-style a:nth-child(3):hover~span{
    left: 39vw; /*600px*/
    width: 16.25vw; /*250px*/
}
.navbar.scrolled-down-style a:nth-child(4):hover~span{
    left: 59.15vw;  /*910px*/
    width: 16.25vw; /*250px*/
}
.navbar.scrolled-down-style a:nth-child(5):hover~span{
    left: 79.755vw;  /*1227px*/
    width: 16.25vw; /*250px*/
}

.navbar.original-style a:hover~span,
.navbar.scrolled-down-style a:hover~span {
  position: absolute;
}

.navbar.scrolled-down-style a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1428vh;
    bottom: -0.2856vh; /*-2px*/
    left: 0;
    background-color: white;
    transform: scaleX(0); 
    transition: transform 0.5s ease; 
  }
 
  .navbar.scrolled-down-style a:hover::before {
    transform: scaleX(0.75); 
  } 

  .smallNav{
    display: none;
  }
  .mobileNav{
    display: none;
  }

@media only screen and (max-width: 428px) and (orientation: portrait){
    .navbar.original-style{
        display: none;
    }
    .navbar.scrolled-down-style{
        display: none;
    }

    .smallNav{
        position: absolute;
        display: flex;
        font-size: 1.75em;
        color:hsl(28, 100%, 60%);
        z-index: 400;
        margin-left: 85%;
        margin-top: 3vh;
    }

    .mobileNav{
        flex-direction: column;
        row-gap: 5vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background:hsl(210, 90%, 44%);
        font-size: 2em;
    }
    .mobileNav a{
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }
}

@media only screen and (max-height: 428px) and (max-width: 668px){
    .navbar.original-style{
        display: none;
    }
    .navbar.scrolled-down-style{
        display: none;
    }

    .smallNav{
        position: absolute;
        display: flex;
        font-size: 1.75em;
        color:hsl(28, 100%, 60%);
        z-index: 400;
        margin-left: 85%;
        margin-top: 6vh;
    }

    .mobileNav{
        flex-direction: column;
        row-gap: 5vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110vh;
        background:hsl(210, 90%, 44%);
        font-size: 2em;
    }
    .mobileNav a{
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }
}
@media only screen and (max-width: 431px) and (min-height: 801px){
    .navbar.original-style{
        display: none;
    }
    .navbar.scrolled-down-style{
        display: none;
    }

    .smallNav{
        position: absolute;
        display: flex;
        font-size: 1.75em;
        color:hsl(28, 100%, 60%);
        z-index: 400;
        margin-left: 85%;
        margin-top: 4vh;
    }

    .mobileNav{
        flex-direction: column;
        row-gap: 5vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110vh;
        background:hsl(210, 90%, 44%);
        font-size: 2em;
    }
    .mobileNav a{
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }
}
@media only screen and (min-width: 801px) and (max-height: 431px){
    .navbar.original-style{
        display: none;
    }
    .navbar.scrolled-down-style{
        display: none;
    }

    .smallNav{
        position: absolute;
        display: flex;
        font-size: 1.75em;
        color:hsl(28, 100%, 60%);
        z-index: 400;
        margin-left: 85%;
        margin-top: 6vh;
    }

    .mobileNav{
        flex-direction: column;
        row-gap: 5vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110vh;
        background:hsl(210, 90%, 44%);
        font-size: 2em;
    }
    .mobileNav a{
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }
}
@media only screen and (min-width: 601px) and (max-width: 767px) and (min-height: 429px) {
    .navbar.original-style{
        display: none;
    }
    .navbar.scrolled-down-style{
        display: none;
    }

    .smallNav{
        position: absolute;
        display: flex;
        font-size: 1.75em;
        color:hsl(28, 100%, 60%);
        z-index: 400;
        margin-left: 85%;
        margin-top: 6vh;
    }

    .mobileNav{
        flex-direction: column;
        row-gap: 5vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110vh;
        background:hsl(210, 90%, 44%);
        font-size: 2em;
    }
    .mobileNav a{
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (min-height: 431px){
    .navbar.original-style{
        display: none;
    }
    .navbar.scrolled-down-style{
        display: none;
    }

    .smallNav{
        position: absolute;
        display: flex;
        font-size: 1.75em;
        color:hsl(28, 100%, 60%);
        z-index: 400;
        margin-left: 85%;
        margin-top: 6vh;
    }

    .mobileNav{
        flex-direction: column;
        row-gap: 5vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110vh;
        background:hsl(210, 90%, 44%);
        font-size: 2em;
    }
    .mobileNav a{
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }
}
@media only screen and (min-width: 992px) and  (max-width: 1199px) {
    .navbar.original-style{
        display: none;
    }
    .navbar.scrolled-down-style{
        display: none;
    }

    .smallNav{
        position: absolute;
        display: flex;
        font-size: 3em;
        color:hsl(28, 100%, 60%);
        z-index: 400;
        margin-left: 85%;
        margin-top: 6vh;
    }

    .mobileNav{
        flex-direction: column;
        row-gap: 5vh;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 110vh;
        background:hsl(210, 90%, 44%);
        font-size: 2em;
    }
    .mobileNav a{
        text-decoration: none;
        color: white;
        position: relative;
        display: inline-block;
    }
}