@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

#footnote{
    display: grid;
    justify-content: center;
    align-content: end;
    min-height: 60vh;
    background: hsl(0, 0%, 91%); /*hsl(0, 0%, 91%);*/
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    z-index: 2;
    position: relative;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: hsl(0, 0%, 100%);
    box-sizing: border-box;
}
footer .container1{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .container1 .sec h2{
    position: relative;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
}
footer .container1 .sec p{
    color: #555;
}
footer .container1 .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}
footer .container1 .sci li{
    list-style: none;
}
footer .container1 .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}
footer .container1 .sci li a i{
    color: #fff;
    font-size: 20px;
}
footer .container1 .quicklinks{
    position: relative;
}
footer .container1 .quicklinks ul li{
    list-style: none;
}
footer .container1 .quicklinks ul li a{
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: -35px; /*EJ I ORGINALET*/
}
footer .container1 .quicklinks ul li a:hover{
    color: black;
}
footer .container1 .contacts .info{
    position: relative;
}
footer .container1 .contacts .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
footer .container1 .contacts .info li span{
    color: #555;
    font-size: 20px;
    margin-left: -38px; /*EJ I ORGINALET*/
    margin-top: 12px; /*EJ I ORGINALET*/
}
footer .container1 .contacts .info li a{
    color: #555;
    text-decoration: none;
    margin-left: -38px; /*EJ I ORGINALET*/
}
footer .container1 .contacts .info li a:hover{
    color: hsl(0, 0%, 0%);
}
.copyrightText{
    width: 100%;
    background: #fff;
    padding: 20px 50px 30px;
    text-align: center;
    color: #555;
    border: 1px solid hsla(0, 0%, 0%, 0.15);
}

@media (max-width: 991px){
   
    footer{
        padding: 40px;
    }
    footer .container1{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .copyrightText{
        padding: 20px 40px 30px;
    }
}

@media (max-width: 768px){
    footer .container1{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}
