@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    overflow-x: hidden;
    }
    main{
        margin: 0;
        
    } 

header{
    display: flex;
    width: 100%;
    height: 57vh;
    color: white;
    background-color: hsl(220, 65%, 37%);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -7.5vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    font-size: 3em;
    font-style: italic;
    font-weight: 100;
    font-family:'sans-serif';
    position: relative;
}
#newText{
    opacity: 0;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 13.09%;
    width: 40%; 
    height: 100%;
    background: linear-gradient(to right, hsla(220, 65%, 37%, 1),  hsla(220, 65%, 37%, 0.75), hsla(220, 65%, 37%, 0.5), hsla(220, 65%, 37%, 0.25), hsla(220, 65%, 37%, 0));
    z-index: 40;
    transform: rotateZ(180deg); 
} 

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: hsla(231, 93%, 51%, 0.5) ;
    z-index: 40; 
} 

header img#intropic {
    width: 100%; /* Tar upp resterande del av header */
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
    position: relative;
    left: -10px; /* Flytta bilden 10px åt vänster */
    z-index: 1; /* Så att bilden ligger över det första objektet */
}

#ttom{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
    color: white;
    margin-top: -25vh;
    animation: slideIn 1s forwards ease-in-out;
}

@keyframes slideIn{
    from{
        margin-top: 0vh;
    }
    to{
        margin-top: -25vh;
    }
}

#presentation{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 200px;
    margin-left: 25vw;
    color: grey;
    font-style: italic;
    animation: fadeIn 2s ease-in-out;
    font-size: 1.7em;
}

.blue-text{
    color: blue;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.largeWrapper{
    margin-top: 4vh;
}

.largeWrapper .wrapper{
    display: flex;
    width: 100%;
    height: 70vh;
    margin-top: 0;
}

#colorBlue{
    background-color: hsl(221, 95%, 59%);
}
#colorOrange{
    background-color: hsl(26, 95%, 59%);
}
#colorGreen{
    background-color: hsl(126, 80%, 53%);
}
#colorYellow{
    background-color: hsl(55, 80%, 53%);
}

.largeWrapper .wrapper .theme{
    margin-top: 10vh;
}

.largeWrapper .wrapper .theme img{
    width: auto;
    border-radius: 10%;
}

#img1{
    margin-left: 5vw;
    margin-top: 30px;
    height: 300px;
}
#img2{
    margin-left: 75vw;
    margin-top: -25px;
    height: 400px;
}
#img3{
    margin-left: 5vw;
    margin-top: 30px;
    height: 300px;
}
#img4{
    margin-left: 65vw;
    margin-top: 30px;
    height: 300px;
}

.largeWrapper .wrapper .theme .bubble{
    background-color: whitesmoke;
    width: 55vw;
    height: 240px;
    border-radius: 20px;
}

#position1{
    margin-left: 530px;
    margin-top: -280px;
}
#position2{
    margin-left: 150px;
    margin-top: -320px;
}
#position3{
    margin-left: 600px;
    margin-top: -280px;
}
#position4{
    margin-left: 50px;
    margin-top: -280px;
}
@font-face{
    src: url(Fonts/Montserrat/static/Montserrat-LightItalic.ttf);
    font-family: "Montserrat";
}
.largeWrapper .wrapper .theme .bubble .heading{
    position: absolute;
    width: 40vw;
    height: 200px;
    margin-top: 0; 
    margin-left: 110px; 
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    font-size: 1.1em;
}

.largeWrapper .wrapper .theme .bubble .heading .type1{
    display: flex;
    margin-left: 2vw;
}
.largeWrapper .wrapper .theme .bubble .heading .type2{
    display: flex;
    margin-left: 28vw;
}

/*
@media (max-width: 991px){
   
    footer{
        padding: 40px;
    }
    footer .container1{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .copyrightText{
        padding: 20px 40px 30px;
    }
}

@media (max-width: 768px){
    footer .container1{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
} */


/*_____________________________________*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (max-height: 799px) {
   html{
        overflow-x: hidden;
    }
    header{
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 50% 100%, 0 90%, 0 75%);
    }
    #ttom{
        width: 100%;
        font-size: 2em;
        margin-top: -15vh;
    }
    #presentation{
        width: 100%;
        height: auto;
        font-size: 1em;
        margin-left: 0;
        padding: 20px, 0, 20px, 0;
        margin-top: -5vh;
    }
    .largeWrapper .wrapper{
        flex-direction: column;
        min-height: 110vh;
    }

    #img1{
        height: 250px;
        margin-left: 15vw;
        margin-top: -30px;
    }
    #img2{
        height: 250px;
        margin-left: 27vw;
        margin-top: -30px;
    }
    #img3{
        height: 200px;
        margin-left: 10vw;
        margin-top: -30px;
    }
    #img4{
        height: 200px;
        margin-left: 10vw;
        margin-top: -30px;
    }

    .largeWrapper .wrapper .theme .bubble{
        height: 270px;
        width: 100%;
    }
    #position1{
        margin-top: 10vh;
        margin-left: 0;
    }
    #position2{
        margin-top: 10vh;
        margin-left: 0;
    }
    #position3{
        margin-top: 10vh;
        margin-left: 0;
    }
    #position4{
        margin-top: 10vh;
        margin-left: 0;
    }
    .largeWrapper .wrapper .theme .bubble .heading{
        width: 100vw;
        height: auto;
        margin-top: 0; 
        margin-left: 0;
        text-align: center;
        font-size: 1em;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type1{
        margin-left: 40vw;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type2{
        margin-left: 40vw;
    }

}
@media only screen and (max-height: 428px) and (max-width: 668px){
    html{
        overflow-x: hidden;
    }
    header{
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 50% 100%, 0 90%, 0 75%);
        height: 50vh;
    }
    #ttom{
        width: 100%;
        font-size: 2em;
        margin-top: -15vh;
    }
    #presentation{
        width: 80%;
        height: auto;
        font-size: 1em;
        margin-left: 10vw;
        padding: 20px, 0, 20px, 0;
        margin-top: -5vh;
    }
    .largeWrapper .wrapper{
        flex-direction: column;
        min-height: 150vh;
    }

    #img1{
        height: 250px;
        margin-left: 33vw;
        margin-top: -30px;
    }
    #img2{
        height: 250px;
        margin-left: 39vw;
        margin-top: -30px;
    }
    #img3{
        height: 200px;
        margin-left: 30vw;
        margin-top: -30px;
    }
    #img4{
        height: 200px;
        margin-left: 30vw;
        margin-top: -30px;
    }

    .largeWrapper .wrapper .theme .bubble{
        height: 240px;
        width: 80%; /*100%*/
    }
    #position1, #position2, #position3, #position4{
        margin-top: 10vh;
        margin-left: 10vw;
    }

    .largeWrapper .wrapper .theme .bubble .heading{
        width: 80vw; /*100vw*/
        height: auto;
        margin-top: 0; 
        margin-left: 0;
        text-align: center;
        font-size: 1.2em;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type1{
        margin-left: 35vw;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type2{
        margin-left: 35vw;
    }
}
@media only screen and (max-width: 431px) and (min-height: 800px)/*större telefoner*/{
    html{
        overflow-x: hidden;
    }
    header{
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 50% 100%, 0 90%, 0 75%);
        height: 50vh;
    }
    #ttom{
        width: 100%;
        font-size: 2em;
        margin-top: -15vh;
    }
    #presentation{
        width: 100%;
        height: auto;
        font-size: 1em;
        margin-left: 0;
        padding: 20px, 0, 20px, 0;
        margin-top: -5vh;
    }
    .largeWrapper .wrapper{
        flex-direction: column;
        height: 85vh;
    }

    #img1{
        height: 250px;
        margin-left: 20vw;
        margin-top: -50px;
    }
    #img2{
        height: 250px;
        margin-left: 30vw;
        margin-top: -50px;
    }
    #img3{
        height: 200px;
        margin-left: 13vw;
        margin-top: -50px;
    }
    #img4{
        height: 200px;
        margin-left: 13vw;
        margin-top: -50px;
    }

    .largeWrapper .wrapper .theme .bubble{
        height: 270px;
        width: 100%;
    }
    #position1{
        margin-top: 10vh;
        margin-left: 0;
    }
    #position2{
        margin-top: 10vh;
        margin-left: 0;
    }
    #position3{
        margin-top: 10vh;
        margin-left: 0;
    }
    #position4{
        margin-top: 10vh;
        margin-left: 0;
    }
    .largeWrapper .wrapper .theme .bubble .heading{
        width: 100vw;
        height: auto;
        margin-top: 0; 
        margin-left: 0;
        text-align: center;
        font-size: 1em;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type1{
        margin-left: 40vw;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type2{
        margin-left: 40vw;
    }
}
@media only screen and (max-height: 431px) and (min-width: 669px) and (max-width: 950px){
    html{
        overflow-x: hidden;
    }
    header{
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 50% 100%, 0 90%, 0 75%);
        height: 50vh;
    }
    #ttom{
        width: 100%;
        font-size: 2em;
        margin-top: -15vh;
    }
    #presentation{
        width: 80%;
        height: auto;
        font-size: 1em;
        margin-left: 10vw;
        padding: 20px, 0, 20px, 0;
        margin-top: -5vh;
    }
    .largeWrapper .wrapper{
        flex-direction: column;
        min-height: 140vh;
    }

    #img1{
        height: 250px;
        margin-left: 33vw;
        margin-top: -30px;
    }
    #img2{
        height: 250px;
        margin-left: 39vw;
        margin-top: -30px;
    }
    #img3{
        height: 200px;
        margin-left: 30vw;
        margin-top: -30px;
    }
    #img4{
        height: 200px;
        margin-left: 30vw;
        margin-top: -30px;
    }

    .largeWrapper .wrapper .theme .bubble{
        height: 240px;
        width: 80%; /*100%*/
    }
    #position1, #position2, #position3, #position4{
        margin-top: 10vh;
        margin-left: 10vw;
    }

    .largeWrapper .wrapper .theme .bubble .heading{
        width: 80vw; /*100vw*/
        height: auto;
        margin-top: 0; 
        margin-left: 0;
        text-align: center;
        font-size: 1.2em;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type1{
        margin-left: 35vw;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type2{
        margin-left: 35vw;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) and (min-height: 429px){
    html{
        overflow-x: hidden;
    }
    header{
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 50% 100%, 0 90%, 0 75%);
        height: 50vh;
    }
    #ttom{
        width: 100%;
        font-size: 2em;
        margin-top: -15vh;
    }
    #presentation{
        width: 80%;
        height: auto;
        font-size: 1em;
        margin-left: 10vw;
        padding: 20px, 0, 20px, 0;
        margin-top: -5vh;
    }
    .largeWrapper .wrapper{
        flex-direction: column;
        min-height: 100vh;
    }

    #img1{
        height: 250px;
        margin-left: 33vw;
        margin-top: -30px;
    }
    #img2{
        height: 250px;
        margin-left: 39vw;
        margin-top: -30px;
    }
    #img3{
        height: 200px;
        margin-left: 30vw;
        margin-top: -30px;
    }
    #img4{
        height: 200px;
        margin-left: 30vw;
        margin-top: -30px;
    }

    .largeWrapper .wrapper .theme .bubble{
        height: 240px;
        width: 80%; /*100%*/
    }
    #position1, #position2, #position3, #position4{
        margin-top: 10vh;
        margin-left: 10vw;
    }

    .largeWrapper .wrapper .theme .bubble .heading{
        width: 80vw; /*100vw*/
        height: auto;
        margin-top: 0; 
        margin-left: 0;
        text-align: center;
        font-size: 1.2em;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type1{
        margin-left: 35vw;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type2{
        margin-left: 35vw;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) and (min-hight: 432px) {
    html{
        overflow-x: hidden;
    }
    header{
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 50% 100%, 0 90%, 0 75%);
        height: 50vh;
    }
    #ttom{
        width: 100%;
        font-size: 2em;
        margin-top: -15vh;
    }
    #presentation{
        width: 80%;
        height: auto;
        font-size: 1em;
        margin-left: 10vw;
        padding: 20px, 0, 20px, 0;
        margin-top: -5vh;
    }
    .largeWrapper .wrapper{
        flex-direction: column;
        min-height: 100vh;
    }

    #img1{
        height: 250px;
        margin-left: 33vw;
        margin-top: -30px;
    }
    #img2{
        height: 250px;
        margin-left: 39vw;
        margin-top: -30px;
    }
    #img3{
        height: 200px;
        margin-left: 30vw;
        margin-top: -30px;
    }
    #img4{
        height: 200px;
        margin-left: 30vw;
        margin-top: -30px;
    }

    .largeWrapper .wrapper .theme .bubble{
        height: 240px;
        width: 80%; /*100%*/
    }
    #position1, #position2, #position3, #position4{
        margin-top: 10vh;
        margin-left: 10vw;
    }

    .largeWrapper .wrapper .theme .bubble .heading{
        width: 80vw; /*100vw*/
        height: auto;
        margin-top: 0; 
        margin-left: 0;
        text-align: center;
        font-size: 1.2em;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type1{
        margin-left: 35vw;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type2{
        margin-left: 35vw;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    html{
        overflow-x: hidden;
    }
    header{
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 50% 100%, 0 90%, 0 75%);
        height: 50vh;
    }
    #ttom{
        width: 100%;
        font-size: 4em;
        margin-top: -15vh;
    }
    #presentation{
        width: 80%;
        height: auto;
        font-size: 2em;
        margin-left: 10vw;
        padding: 20px, 0, 20px, 0;
        margin-top: -5vh;
    }
    .largeWrapper .wrapper{
        flex-direction: column;
        min-height: 100vh;
    }

    #img1{
        height: 250px;
        margin-left: 38vw;
        margin-top: -30px;
    }
    #img2{
        height: 250px;
        margin-left: 42vw;
        margin-top: -30px;
    }
    #img3{
        height: 200px;
        margin-left: 36vw;
        margin-top: -30px;
    }
    #img4{
        height: 200px;
        margin-left: 36vw;
        margin-top: -30px;
    }

    .largeWrapper .wrapper .theme .bubble{
        height: 270px;
        width: 80%; /*100%*/
        padding: 30px;
    }
    #position1, #position2, #position3, #position4{
        margin-top: 10vh;
        margin-left: 10vw;
    }

    .largeWrapper .wrapper .theme .bubble .heading{
        width: 80vw; /*100vw*/
        height: auto;
        margin-top: 0; 
        margin-left: 0;
        text-align: center;
        font-size: 1.4em;
    }
    .largeWrapper .wrapper .theme .bubble .heading h4{
        font-size: 1.2em;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type1{
        margin-left: 35vw;
    }
    .largeWrapper .wrapper .theme .bubble .heading .type2{
        margin-left: 35vw;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .largeWrapper .wrapper .theme .bubble{
        padding: 20px;
    }
}
